@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;

    background-color: rgb(27, 27, 27);
}

h1 {
    text-decoration: underline;
    margin-bottom: 30px;
    font-size: 4rem;
}

h1,label {
    color: white;
    font-weight: bold;
}

.button {
    margin-bottom: 45px;
    font-size: 2rem;

    margin-top: 10px;
    width: 300px;

    color: white;
    background-color: rgb(27, 27, 27);
    border: 3px solid white;
    border-radius: 8px;
    padding: 8px;

    font-weight: bold;

}

.button:hover {
    background-color: white;
    color: rgb(27, 27, 27);;
}

textarea {
    padding: 8px;
    font-size: 1.8rem;
}

label {
    font-size: 2rem;
}